<div class="bs-masthead bs-mastheadDefault">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Sign in</h3>
			</div>
			<div class="panel-body">
				<form name="form" role="form" ng-submit="createUser()">
					<div class="col-md-6">
						<div class="form-group">
							<label for="lastname">What's your lastname ?</label> <input
								type="text" class="form-control" id="lastname"
								placeholder="Enter lastname" ng-model="create.name" required>
						</div>
						<div class="form-group">
							<label for="firstname">What's your firstname ?</label> <input
								type="text" class="form-control" id="firstname"
								placeholder="Enter firstname" ng-model="create.first_name"required">
						</div>
						<div class="form-group">
							<label for="birth">Indicate your birth date</label> <input
								type="date" class="form-control" id="birth"
								placeholder="Indicate your birth date"
								ng-model="create.birthDate" value="{{$scope.create.birthDate}}">
						</div>
						<div class="form-group">
							<label for="username">Choose a username</label> <input
								type="text" class="form-control" id="username"
								placeholder="Choose a username" ng-model="create.pseudo"
								required>
						</div>
						<div class="form-group">
							<label for="password">Choose a password</label> <input
								type="password" class="form-control" id="password"
								placeholder="Choose a password" ng-model="create.password"
								required>
						</div>
						<div class="form-group">
							<label for="passwordCOnf">Confirm your password</label> <input
								type="password" class="form-control" id="passwordCOnf"
								placeholder="Confirm your password<" ng-model="pass.passConfirm"
								required>
						</div>
						<div class="form-group">
							<label for="avatar">Import an avatar image</label> <input
								type="file" class="form-control" id="avatar"
								placeholder="Import an avatar image" ng-model="create.avatar">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="email">Indicate your email address</label> <input
								type="email" class="form-control" id="email"
								placeholder="Indicate your email address" ng-model="create.mail"
								required>
						</div>
						<div class="form-group">
							<label for="twitter">Indicate your twitter profile</label> <input
								type="text" class="form-control" id="twitter"
								placeholder="Indicate your twitter profile"
								ng-model="create.twitter">
						</div>
						<div class="form-group">
							<label for="height">Indicate your height</label> <input
								type="number" class="form-control" id="height"
								placeholder="Indicate your height" ng-model="create.height">
						</div>
						<div class="form-group">
							<label for="weight">Indicate your weight</label> <input
								type="number" class="form-control" id="weight"
								placeholder="Indicate your weight" ng-model="create.weight">
						</div>
						<div class="form-group">
							<input type="radio" name="sex" value="H" checked>Male <input
								type="radio" name="sex" value="F">Female
						</div>

						<button type="submit" value="signin" class="btn btn-success"
							ng-disabled="form.$invalid || !isCorrectPassword()">Create my account</button>
							
						<label ng-show="form.$invalid" for="weight">Some Elements are missing (name, surname, valid E-mail, userName, Password) ?</label>
						<label ng-show="!isCorrectPassword()" for="weight">The passwords are not exactly the same or null</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
