<div class="bs-masthead bs-mastheadDefault">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Add your last seance</h3>
			</div>
			<div class="panel-body">
				<form name="form" role="form" ng-submit="createSeance()">
					<div class="col-md-6">
						<div class="form-group">
							<select ng-model="sport"
								ng-options="sport as sport.nom_sport for sport in sports"
								required></select>
						</div>
						<div class="form-group">
							<label for="dateBegin">Indicate the date you started the seance</label> <input
								type="datetime" class="form-control" id="dateBegin"
								ng-model="time.timeBegin" value="{{time.timeBegin | date:'AAAA-MM-JJ HH:MM:SS'}}"
								placeholder="'AAAA-MM-JJ HH:MM:SS" required>
						</div>
						<div class="form-group">
							<label for="timeFin">What time did you end it ?</label> <input
								type="datetime" class="form-control" id="timeFin"
								value="{{time.timeFin | date:'AAAA-MM-JJ HH:MM:SS'}}"
								placeholder="AAAA-MM-JJ HH:MM:SS" ng-model="time.timeFin"
								required>
						</div>
						
						<button type="submit" value="signin" class="btn btn-success"
							ng-disabled="form.$invalid">Create
							my seance</button>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<select ng-model="meteo"
								ng-options="meteo as meteo.weather for meteo in meteos"
								required></select>
						</div>
						<div class="form-group">
							<label for="km">Indicate the number of KM(s)</label>
							<input type="number" class="form-control" id="email"
								placeholder="Indicate your number of kms" ng-model="parcours.nbKilom" required>
						</div>
						<div class="form-group">
							<label for="vitesse (km/h)">Indicate your average speed</label> <input
								type="number" class="form-control" id="twitter"
								placeholder="Indicate your speed" ng-model="parcours.speed" required>
						</div>
						<label ng-show="form.$invalid" for="weight">Some Elements
							are missing ?</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
