<div id="createUser" ng-controller="SigninCtrl">
	<fieldset>
		<legend>Welcome to our banana application</legend>
		<form ng-submit="createUser()">
			<table >
				<tr>
					<td align='right'>Name : </td>
					<td><input ng-model="create.name" maxlength="10" value="" size=12 id='name'></td>
				</tr>
				<tr>
					<td align='right'>First Name : </td>
					<td><input ng-model="create.first_name" maxlength="10" value="" size=12 id='fname'></td>
				</tr>
				<tr>
					<td align='right'>BirthDate : </td>
					<td><input type="date" ng-model="create.birthDate" maxlength="10" value={{$scope.create.birthDate}} size=12 id='birthdate'></td>
				</tr>
				<tr>
					<td align='right'>Pseudo (Login) : </td>
					<td><input ng-model="create.pseudo" maxlength="10" value="" size=12 id='pseudo'></td>
				</tr>
				<tr>
					<td align='right'>Password : </td>
					<td><input type="password" ng-model="create.password" maxlength="10" value="" size=12 id='pass'></td>
				</tr>
				<tr>
					<td align='right'>Password (confirm) : </td>
					<td><input type="password" ng-model="pass.passConfirm" maxlength="10" value="" size=12 id='passConfirm'></td>
				</tr>
				<tr>
					<td align='right'>Avatar : </td>
					<td><input ng-model="create.avatar" maxlength="10" value="" size=12 id='avatar'></td>
				</tr>
				<tr>
					<td align='right'>Mail : </td>
					<td><input type="email" ng-model="create.mail" maxlength="10" value="" size=12 id='mail'></td>
				</tr>
				<tr>
					<td align='right'>Twitter : </td>
					<td><input ng-model="create.twitter" maxlength="10" value="" size=12 id='twitter'></td>
				</tr>
				<tr>
					<td align='right'>Height : </td>
					<td><input type="number" ng-model="create.height" maxlength="10" value="" size=12 id='Height'></td>
				</tr>
				<tr>
					<td align='right'>Weight : </td>
					<td><input type="number" ng-model="create.weight" maxlength="10" value="" size=12 id='weight'></td>
				</tr>
				<tr>
					<td align='right'>Sex : </td>
					<td> <input type="radio" name="sex" value="H" checked>Male 
					<input type="radio" name="sex" value="F">Female </td>
				</tr>
				<tr>
					<td></td>
					<td><input type=submit value="Create User"></td>
				</tr>
			</table>
		</form>
	</fieldset>
</div>