body {
	background-color: #323a45 !important;
}

.panel-body {
	text-align:left;
}

.loginPageSlogan {
	font-size:20px !important;	
}

.bs-docs-nav {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
	background-color: #323a45;
	border-color: #463265;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.navbar-nav>li>a {
	font-weight: lighter !important;
	color: #969c9f !important;
}

a.navbar-brand {
	font-weight: lighter !important;
	color: #f8f8f8 !important;
}

a.navbar-brand:hover {
	color: #969c9f;
}

.navbar-toggle>span {
	background-color: #f8f8f8 !important;
}

.footer {
	padding: 30px 15px;
	font-style: italic;
	font-size: 0.8em; background-color : #323a45;
	height: 100%;
	width: 100%;
	color: #f8f8f8 !important;
	background-color: #323a45;
}

.bs-mastheadDefault {
	color: #46414D;
	display: table;
	height: 100%;
	width: 100%;
	background: url(./img/bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bs-masthead {
	color: #46414D;
	display: table;
	height: 100%;
	width: 100%;
	background: url(./img/bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bs-masthead,.bs-mastheadDefault {
	position: relative;
	padding: 30px 15px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.bs-masthead h1 {
	font-size: 50px;
	line-height: 1;
	color: #fff;
}

.bs-masthead .myBtn {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	padding: 18px;
}

.myBtnHigh {
	padding: 18px 58px !important;
}

.bs-masthead-links a {
	color: #fff;
}

@media ( min-width : 768px) {
	.bs-masthead {
		text-align: center;
		padding-top: 140px;
		padding-bottom: 237px;
	}
	.bs-masthead h1 {
		font-size: 100px;
	}
	.bs-masthead .lead {
		font-size: 30px;
	}
	.myBtn {
		width: auto;
		margin: 20px 0px 20px 0;
		padding: 18px 24px;
		font-size: 21px;
	}
	.myBtnHigh {
		padding: 18px 58px !important;
	}
	.bs-masthead-links {
		padding: 0;
		text-align: center;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,.marketing,.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	.bs-masthead {
		text-align: center;
		padding-top: 140px;
		padding-bottom: 237px;
		height: 100%;
		width: 100%;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}